<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Liste des véhicules</title>
</head>
<body>
    <h1>Liste des véhicules</h1>
    <table border="1">
        <thead>
        <tr>
            <th>ID Véhicule</th>
            <th>Année Modèle</th>
            <th>Prix</th>
            <th>Image</th>
        </tr>
        </thead>
        <tbody>
        <!-- Parcourir la liste des véhicules -->
        <tr th:each="vehicle : ${vehicles}">
            <td th:text="${vehicle.idvehicule}"></td>
            <td th:text="${vehicle.anneeModel}"></td>
            <td th:text="${vehicle.prix} + ' €'"></td>
            <td>
                <img th:src="${vehicle.imageVehicule}" alt="Image véhicule" style="max-width: 100px; max-height: 100px;"/>
            </td>
        </tr>
        </tbody>
    </table>
</body>
</html>
